.click-button, .click-button-2, .click-button-3 {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.click-button {
    background-color: #e74c3c;
}

.click-button:active {
    background-color: #c0392b;
}

.click-button:hover {
    background-color: #c0392b;
    transform: translateY(-5px); /* Move up slightly on hover */
}

.click-button-2 {
    background-color: #8e44ad;
    margin-left: 20px;
}

.click-button-2:active {
    background-color: #732d91;
    transform: scale(1.1);
}

.click-button-2:hover {
    background-color: #732d91;
    transform: scale(1.1) rotate(-5deg); /* Rotate slightly on hover */
}

.click-button-3 {
    background-color: #f39c12;
    margin-left: 20px;
}

.click-button-3:active {
    background-color: #e67e22;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.click-button-3:hover {
    background-color: #e67e22;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px); /* Move up slightly on hover */
}
