.sidebar {
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    right: 0; /* Change from left to right */
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
    color: white;
}
