/* General Styles */
:root {
    --header-height: 60px; /* Define a CSS variable for the header height */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body has a minimum height */
    padding-top: var(--header-height); /* Use the CSS variable for top padding */
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center; 
    top: 0;
    z-index: 1000;
    background-color: #87CEEB; /* Ensure the header has a background color */
    position: fixed; /* Make the header fixed */
    height: var(--header-height); /* Use the CSS variable for header height */
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin: 0;
}

footer {
    margin-top: auto;
    text-align: center;
    width: 100%;
    background-color: #87CEEB; /* Calming sky blue color */
    color: white;
    padding: 10px 0;
}

p {
    color: #707070;
    margin: 0;
}

.main-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.main-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 15px 25px;
    font-size: 1.2em;
    background-color: #a3d5d3; /* Calming teal color */
    color: #333; /* Darker text color for contrast */
    text-decoration: none;
    border-radius: 10px; /* Make the links look like cards */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to look like cards */
    text-align: center;
}

.main-card:hover {
    background-color: #8bbcb8; /* Slightly darker teal on hover */
    transform: translateY(-5px); /* Move up slightly on hover */
}

/* Category Links */
.category-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: auto;
    flex-grow: 1; /* Ensure category-links take up available space */
    min-height: calc(100vh - 100px); /* Minimum height for desktop view */
}

.category-links a {
    margin: 10px;
    padding: 15px 25px;
    font-size: 1.2em;
    background-color: #a3d5d3; /* Calming teal color */
    color: #333; /* Darker text color for contrast */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    flex: 1 1 calc(25% - 20px); /* 4 columns for desktop view */
    box-sizing: border-box;
    text-align: center;
    max-width: 200px; /* Maximum width */
    max-height: 100px; /* Maximum height */
}

.category-links a:hover {
    background-color: #8bbcb8; /* Slightly darker teal on hover */
    transform: translateY(-5px);
}

/* Full Height */
.full-height {
    min-height: calc(100vh - 60px); /* Ensure the element has a minimum height of 100vh */
}

/* Media Queries */
@media (max-width: 1024px) {
    .category-links a {
        flex: 1 1 calc(33.333% - 20px); /* 3 columns for tablet view */
    }
}

@media (max-width: 768px) {
    .category-links a {
        flex: 1 1 calc(50% - 20px); /* 2 columns for smaller tablet view */
    }

    .grid-demo {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .category-links a {
        flex: 1 1 100%; /* 1 column for phone view */
    }

    .grid-demo {
        grid-template-columns: 1fr;
    }
}

/* Content Layout */
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; /* Center the table horizontally */
    justify-content: center; /* Center the table vertically */
    flex-grow: 1; /* Ensure the content takes up available space */
    width: 100%; /* Ensure the content takes the full width */
    padding-top: var(--header-height); /* Add padding to prevent content from being hidden behind the header */
}

.row {
    display: flex;
    width: 80%; /* Adjust the width to center the table */
    max-width: 1200px; /* Set a maximum width for the table */
    gap: 20px;
    border-bottom: 2px solid #d8dadb; /* Add bottom border */
    padding-top: 10px; /* Add padding to separate content from borders */
    padding-bottom: 10px; /* Add padding to separate content from borders */
    margin-top: 0; /* Remove top margin */
    margin-bottom: 0; /* Remove bottom margin */
}

.row:first-of-type {
    border-top: 2px solid #d8dadb; /* Add top border to the first row */
}

.demo {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.code {
    flex: 3;
    min-width: 400px;
    max-width: 600px;
    position: relative;
    padding: 20px;
}

.code pre {
    background-color: rgb(192, 189, 189);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.code pre code {
    display: block;
    white-space: pre;
}

.toggle-button, .copy-button {
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 0.9em;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.toggle-button:hover, .copy-button:hover {
    background-color: #2980b9;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #87CEEB; /* Calming sky blue color */
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.title-container h1, .title-container h2 {
    margin: 0;
    text-align: center;
}

.hamburger {
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Lower z-index than sidebar */
    display: none;
}

.overlay.show {
    display: block;
}

@media screen and (max-width: 600px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger {
        align-self: flex-end;
    }
}

/* Button Container */
.button-container {
    display: flex;
    gap: 10px;
}

/* Code Snippet */
.code-snippet {
    display: none; /* Ensure code snippets are initially hidden */
}

/* Logo */
.logo {
    font-family: 'Webdings', sans-serif; /* Use Wingdings font for the logo */
    font-size: 5em;
    text-decoration: none;
    text-shadow: #03a353  2px 2px 2px; /* Add text shadow */
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.logo:hover {
    color: #2980b9;
    transform: translateY(-5px) scale(1.1); /* Scale up on hover */
}

/* Breadcrumbs */
.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
    color: white;
}

.breadcrumbs a {
    color: white;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

/* Title Link */
.title-link {
    text-decoration: none; /* Remove underline */
}

.title-link h1:hover {
    color: #2980b9; /* Change color on hover */
    transform: translateY(-5px) scale(1.1); /* Scale up on hover */
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transition */
}

.footer-link {
    text-decoration: none; /* Remove underline */
    color: white; /* Ensure the link color matches the footer text color */
}

.footer-link:hover {
    text-decoration: underline; /* Add underline on hover */
}
